.vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

ion-card{
    padding: 20px;
}